@page

@model Blog.Portal.Pages.Dashboard.IndexModel
@{
    var basePath = Request.PathBase;
    ViewData["Title"] = "Blog";
    Layout = "_BlogLayout";
}



<div class="row">
    @foreach (var post in Model.PaginatedPosts.Data)
    {
        string postImage = $"{basePath}/Image/{post.Image}";
        string userImage = $"{basePath}/Image/{post.User.Image}";
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header ph">
                    <a asp-page="Post" asp-route-id="@post.Id" title="@post.Title"> <h5 class="card-title m-0 post-title">@post.Title</h5></a>
                </div>
                <div class="card-body">
                    <div class="row post-image-container">
                        <a asp-page="Post" asp-route-id="@post.Id" class="post-image" title="@post.Title"><img src="@postImage" class="post-image img-fluid " alt=".."></a>
                    </div>

                    <div class="row" style="padding-right:.25rem;padding-left:.25rem;">

                        <div class="col-sm-12 d-flex justify-content-between align-items-center">
                            <div class="post-date">@post.PostDate</div>
                            <div class="post-category">
                                <a href="~/Tutorials/@post.CategoryId" title="@post.Category">@post.Category</a>
                            </div>
                        </div>

                        <div style="background-color: rgba(0,0,0,.03);" class="col-sm-12 d-flex justify-content-between align-items-center">
                            <a class="d-flex align-items-center flex-wrap" href="~/Author/@post.User.Id" title="@post.User.FullName">
                                <div class="post-avatar">
                                    <img src="@userImage" class="img-fluid" alt="..">
                                </div>
                                <div class="user-title ">
                                    <span>@post.User.FullName</span>
                                </div>
                            </a>
                            <div class="post-date d-none d-md-block ">
                                <span><i class="fas fa-clock"></i> @post.TimeAgo</span>
                            </div>
                            <div class="comments ">
                                <i class="fas fa-comments"></i><b>@post.CommentsCount</b>
                            </div>
                        </div>

                        <div class="col-sm-12 desc">
                            <p class="post-description mt-2 text-muted">
                                @post.Description
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!--Paging-->
<partial name="_Paging" model="Model.PaginatedPosts" />


@section Scripts{
    <script>

        $(document).ready(function () {

            var maxHeight = -1;

            $('.desc').each(function () {
                maxHeight = maxHeight > $(this).height() ? maxHeight : $(this).height();
            });

            $('.desc').each(function () {
                $(this).height(maxHeight);
            });
            var titleMaxHeight = -1
            $('.ph').each(function () {
                titleMaxHeight = titleMaxHeight > $(this).height() ? maxHtitleMaxHeighteight : $(this).height();
            });

            $('.ph').each(function () {
                $(this).height(titleMaxHeight);
            });

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        });
    </script>
}