@page
@model IndexModel
@{
    var basePath = Request.PathBase;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hassan Blog</title>
    <partial name="_DashboardCss" />
    <style>
        .title-bottom-line{
            border-bottom-style: groove;
        }
    </style>
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
      <partial name="_DashboardNav"/>
        <div class="content-wrapper">
            <div class="content">
                <div class="container-fluid p-2">
                    <div class="row ">
                        <div class="col-sm-12 text-center">
                            <h1 style="line-height: 1;font-size: 1.7rem;">
                                <strong>
                                    <a class="title-bottom-line" style="color: #869099;" href="~/blog">LATEST TUTORIALS</a>
                                </strong>
                            </h1>
                        </div>
                        @foreach (var post in Model.LatestPosts)
                        {
                            string postImage = $"{basePath}/Image/{post.Image}";
                            string userPostImage = $"{basePath}/Image/{post.User.Image}";
                            <div class="col-md-4 m-2">
                                <div class="row post-image-container">
                                    <a class="post-image" href="~/Tutorial/@post.Id" title="@post.Title">
                                        <img src="@postImage" class="post-image img-fluid " alt="..">
                                    </a>
                                </div>
                                <div class="row">
                                    <a href="~/Tutorial/@post.Id" title="@post.Title">
                                        <h5 class="card-title m-0 post-title">@post.Title</h5>
                                    </a>
                                </div>
                                <div class="row ">
                                    <div class="post-date d-flex justify-content-between align-items-center">
                                        <a class="d-flex align-items-center flex-wrap mr-3" href="~/Author/@post.User.Id" title="@post.User.FullName">
                                            <div class="post-avatar">
                                                <img src="@userPostImage" class="img-fluid" alt="..">
                                            </div>
                                            <div class="user-title ">
                                                <span>@post.User.FullName</span>
                                            </div>
                                        </a>
                                        <span><i class="fas fa-clock mr-2"></i> @post.PostDate</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <footer class="main-footer">
            <div class="row " style="border-bottom:solid;border-bottom-width:1px; border-bottom-color:#e3e5e9;">
                <div class="col-md-4">
                    <div class=" row  text-justify">
                        <h2 class="ml-2 mb-2 " style="line-height: 1;font-size: 1.7rem;">
                            <strong class="title-bottom-line">HassaMohamed.website</strong>
                        </h2>
                        <p class="text-muted text-sm">
                            HassaMohamed.website is an online tutorial website to learn about ASP.NET Core, ASP.NET MVC, AngularJS, C#, VB.NET, AJAX, JQuery, WCF, LINQ, Android, Java and more.
                        </p>
                    </div>
                    <div class="row">
                        <partial name="_FollowUsContent" />
                    </div>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="text-left">
                        <h2 class="ml-2  mb-2 " style="line-height: 1;font-size: 1.7rem;"><strong class="title-bottom-line">Subscribe</strong></h2>
                        <p class="text-muted text-sm">
                            Subscribe to our newsletter to receive the latest news, posts and freebies straight in your inbox.
                        </p>
                        <div>
                            <form method="post" asp-page="Index" asp-page-handler="Subscribe">
                                <div class="form-group">

                                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter your email">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="SUBMIT" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="_DashboardCopyRight" />
        </footer>
    </div>
    <partial name="_DashboardScripts" />

</body>
</html>