@model PostPageViewModel
@{
    ViewBag.Title = Model.Post.Title;
    ViewBag.Description = Model.Post.Description;
    ViewBag.keywords = $"{string.Join(" ", Model.Post.Tags)} {Model.Post.Category}";
    var basePath = Context.Request.PathBase;
    var imagePath = $"{basePath}/Image/{Model.Post.Image}";
    var userImagePath = $"{basePath}/Image/{Model.Post.User.Image}";
}


@*<div class="container">
    <div class="post no-shadow">
        @if (string.IsNullOrWhiteSpace(Model.Post.Image) is false)
        {
            //var imagePath = $"{basePath}/Image/{Model.Post.Image}";
            <img src="@imagePath" />
            <span class="title">@Model.Post.Title</span>
        }
    </div>
    <div class="post-body">
        @Html.Raw(Model.Post.Body)
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="comment-section">
            @{
                await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Post.Id });
            }
            @foreach (var c in Model.Post.MainComments)
            {
                <p>
                    @c.Message--@c.Created
                </p>
                <div style="margin-left:20px;">
                    <h4>sub Comments</h4>
                    @{
                        await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Post.Id, MainCommentId = c.Id });
                    }
                    @foreach (var sc in c.SubComments)
                    {
                        <p>
                            @sc.Message--@sc.Created
                        </p>
                    }
                </div>
            }
        </div>
    }
    else
    {
        <div class="">
            <a asp-action="Login" aasp-controller="Auth">Sign In</a> to comment on this awesome post!
        </div>
    }
</div>
*@





<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
            <div class="container">
                <div class="post-single">
                    <div class="post-thumbnail"><img src="@imagePath" alt="..." class="img-fluid"></div>
                    <div class="post-details">
                        <div class="post-meta d-flex justify-content-between">
                            <div class="category">
                                <a asp-controller="Blog" asp-action="Index" asp-route-category="@Model.Post.Category">@Model.Post.Category</a>
                            </div>
                        </div>
                        <h1>@Model.Post.Title<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                        <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                            <a href="#" class="author d-flex align-items-center flex-wrap">
                                <div class="avatar"><img src="@userImagePath" alt="..." class="img-fluid"></div>
                                <div class="title"><span>@Model.Post.User.FullName</span></div>
                            </a>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="date"><i class="icon-clock"></i>  @Model.Post.TimeAgo</div>
                                <div class="views"><i class="icon-eye"></i> @Model.Post.ViewsCount</div>
                                <div class="comments meta-last"><i class="icon-comment"></i>@Model.Post.CommentsCount</div>
                            </div>
                        </div>
                        <div class="post-body">
                            <p class="lead">
                                @Html.Raw(Model.Post.Body)
                            </p>
                        </div>
                        <div class="post-tags">
                            @foreach (var tag in Model.Post.Tags)
                            {
                                <a href="#" class="tag">#@tag</a>
                            }
                        </div>
                        <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                            @if (Model.PreviousPost != null)
                            {
                                <a asp-controller="Blog" asp-action="Post" asp-route-id="@Model.PreviousPost.Id" class="prev-post text-left d-flex align-items-center">
                                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                                    <div class="text">
                                        <strong class="text-primary">Previous Post </strong>
                                        <h6>@Model.PreviousPost.Title</h6>
                                    </div>
                                </a>
                            }

                            @if (Model.NextPost != null)
                            {
                                <a asp-controller="Blog" asp-action="Post" asp-route-id="@Model.NextPost.Id" class="next-post text-right d-flex align-items-center justify-content-end">
                                    <div class="text">
                                        <strong class="text-primary">Next Post </strong>
                                        <h6>@Model.NextPost.Title</h6>
                                    </div>
                                    <div class="icon next"><i class="fa fa-angle-right">   </i></div>
                                </a>
                            }

                        </div>
                        <div class="post-comments">
                            <header>
                                <h3 class="h6">Post Comments<span class="no-of-comments">(@Model.Post.CommentsCount)</span></h3>
                            </header>
                            @foreach (var comment in Model.Post.Comments)
                            {
                                var commentUserImagePath = $"{basePath}/Image/{comment.User.Image}";
                                <div class="comment">
                                    <div class="comment-header d-flex justify-content-between">
                                        <div class="user d-flex align-items-center">
                                            <div class="image"><img src="@commentUserImagePath" alt="..." class="img-fluid rounded-circle"></div>
                                            <div class="title">
                                                <strong>@comment.User.FullName</strong>
                                                <span class="date">@comment.CommentDate</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-body">
                                        <p>@comment.Message</p>
                                    </div>
                                </div>
                            }
                        </div>
                        <partial name="_AddCommentSection" model="new CommentViewModel(){PostId=Model.Post.Id}" />
                    </div>
                </div>
            </div>
        </main>
        <aside class="col-lg-4">
            <!-- Widget [Search Bar Widget]-->
            <div class="widget search">
                <header>
                    <h3 class="h6">Search the blog</h3>
                </header>
                <partial name="../Shared/_SearchForm.cshtml" />
            </div>

            <!-- Widget [Latest Posts Widget]        -->
            @Html.Action("LatestPosts","Blog")
            <!-- Widget [Categories Widget]-->
            @Html.Action("Categories","Blog")
            <!-- Widget [Tags Cloud Widget]-->
            @Html.Action("Tags","Blog")
        </aside>
    </div>
</div>
